# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración de IDE
.vscode/
.idea/

# Dependencias
node_modules/
vendor/

# Archivos de compilación
dist/
build/

# Archivos de entorno
.env

# Entorno virtual
venv/

datos_contrato.csv
datos_contrato.json
ejemplo_extraido.txt

ejemplos_contratos/
ejemplos_contratos\Contract_2000-20000002-3.pdf
ejemplos_contratos\Contract.pdf